html,
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	box-sizing: border-box;
}
$font-family: 'Aktiv Grotesk';
$body-font-family: 'Aktiv Grotesk' !important;

$heading-font-family: $body-font-family;

.page-enter-active,
.page-leave-active {
	transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}
@media (max-width: 600px) {
	.center-text {
		text-align: center;
	}
}

.v-application {
	.v-btn--active::before,
	.v-btn:focus::before {
		opacity: 0 !important;
	}
}
.theme--light.v-list-item--active:hover::before,
.theme--light.v-list-item--active::before {
	opacity: 0;
}
.v-list-item--link:before {
	background-color: #ffffff;
}

.v-application {
	.v-list-item--active {
		background-color: #ffffff !important;
	}
}
.no a {
	background: #ffffff !important;
	color: black !important;
}
.active {
	border-bottom: 4px solid #1e4383;
}

.v-application {
	.v-btn span,
	.v-btn:active span {
		top: 2.2px;
	}
}

.apply-now span {
	color: #ffffff;
	padding: 40px;
	font-size: 24px;
}

.v-application {
	.v-card__title {
		word-break: keep-all;
	}
}

.apply-now {
	width: 200px !important;
	height: 60px !important;
}

.slide-fade-enter-active {
	transition: all 0.6s ease;
}
.slide-fade-leave-active {
	transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(-20px);
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('~assets/fonts/AktivGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: optional;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('~assets/fonts/AktivGrotesk-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('~assets/fonts/AktivGrotesk-XBold.woff') format('woff');
	font-weight: bolder;
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: 'Aktiv Grotesk';
	src: ('~assets/fonts/AktivGrotesk-Light.woff') format('woff');
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('~assets/fonts/AktivGrotesk-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}

.v-list-item--link:before {
	background-color: #ffffff !important;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.v-list-item__title,
.v-list-item__subtitle {
	overflow: visible !important;
}
.v-select__selection--comma {
	overflow: visible !important;
}

.v-slider__thumb-label {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	color: #fff;
	width: 32 px;
	height: 32 px;
	border-radius: 5% 5% 5% !important;
	position: absolute;
	left: 0;
	bottom: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	transform: translateY(-20%) translateY(-12 px) translateX(-50%) rotate(45deg) !important;
}
