// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 16px;
$line-height: 120%;
// styles/variables.scss
// @import url('https://db.onlinewebfonts.com/c/cc0c83f1e7a5a34cf6985d861f0b2e1c?family=Aktiv+Grotesk&display=swap');
$body-font-family: 'Aktiv Grotesk' !important;
$heading-font-family: $body-font-family;
$headings: (
	'h1': (
		'font-family': $heading-font-family,
	),
	'h2': (
		'font-family': $heading-font-family,
	),
	'h3': (
		'font-family': $heading-font-family,
	),
	'h4': (
		'font-family': $heading-font-family,
	),
	'h5': (
		'font-family': $heading-font-family,
	),
	'h6': (
		'font-family': $heading-font-family,
	),
);

$slide-group-prev-basis: 35px !default;
$select-selections-padding-top: 80px !default;
$headings: (
	'h1': (
		'size': 4.8125rem,
		'line-height': 1.15em,
	),
);

// $font-family: 'Aktiv Grotesk' !important;
