// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 16px;
// styles/variables.scss
$slide-group-prev-basis: 35px !default;
$select-selections-padding-top: 80px !default;
$grid-breakpoints: (
	'xxs': 400px,
	// 	'sm': 600px,
	// 	'md': 1042px,
	// 	'lg': 1366px,
	// 	'xl': 1440px,,,,,,,,,,,,,,,,,,,,,,
);
$headings: (
	'h1': (
		'size': 4.8125rem,
		'line-height': 1.15em,
	),
);
// @import '~vuetify/src/styles/styles.sass';
